<?php

/**
 * @var $this Overdose_Testimonials_Block_Item
 * @see Overdose_Testimonials_Block_Item
 */
?>
<?php $_testimonialsItem = $this->helper('overdose_testimonials')->getNewsItemInstance(); ?>
<div id="testimonials_item_messages"><?= $this->getMessagesBlock()->getGroupedHtml() ?></div>

<div class="page-title">
    <h1><?= $this->escapeHtml($_testimonialsItem->getTitle()) ?></h1>
</div>

<div class="testimonials_item_view">
    <?php if ($imageUrl = $this->getImageUrl($_testimonialsItem, 400)): ?>
       <p><img src="<?= $imageUrl ?>" alt="<?= $this->escapeHtml($_testimonialsItem->getTitle()) ?>" /></p>
    <?php endif; ?>

    <div class="testimonials_item_content"><?= $_testimonialsItem->getMessage() ?></div>

    <div class="pager">
        <a href="<?= $this->getBackUrl() ?>">
            <?= Mage::helper('overdose_testimonials')->__('Return to list') ?>
        </a>
    </div>
</div>