<?php

/**
 * @var $this Overdose_Testimonials_Block_List
 * @see Overdose_Testimonials_Block_List
 */
?>
<div id="testimonials_list_messages"><?= $this->getMessagesBlock()->getGroupedHtml() ?></div>
<div class="page-title">
    <h1><?= Mage::helper('overdose_testimonials')->__('Site News') ?></h1>
</div>

<div class="testimonials_form_wrapper">
    <form id="testimonials_form" method="post" action="<?= $this->getSaveFormUrl() ?>" enctype="multipart/form-data">
        <?= $this->getBlockHtml('formkey')?>
        <input type="text" name="title" />
        <textarea name="message" id="message" cols="30" rows="10"></textarea>
        <input type="file" name="image" />
        <button type="submit" class="form-button" title="<?= $this->__('Send') ?>"/><?= $this->__('Send') ?></button>
    </form>
</div>

<div class="testimonials_list_view">
    <?php foreach ($this->getCollection() as $testimonialsItem): ?>
        <div id="item_<?= $testimonialsItem->getId() ?>" class="testimonials_list_item">
            <h2>
                <a href="<?= $this->getItemUrl($testimonialsItem) ?>">
                    <?= $this->escapeHtml($testimonialsItem->getTitle()) ?>
                </a>
            </h2>
            <?php if ($imageUrl = $this->getImageUrl($testimonialsItem, 100)): ?>
               <p><img src="<?= $imageUrl ?>" alt="<?= $this->escapeHtml($testimonialsItem->getTitle()); ?>" /></p>
            <?php endif; ?>
        </div>
    <?php endforeach; ?>
</div>

<?= $this->getPager() ?>